<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- environment = demo|live -->
		<add key="environment" value="demo" />
		<add key="region" value="test"/>
		<add key="accountId.live" value="WVXVI" />
		<add key="username.live" value="TBM700C2" />
		<add key="password.live" value="8Ai7O!2m9Zc1W-3b" />
		<add key="apikey.live" value="667cf341dfb290d46371c8f1c800894e1b674bf9" />
		<add key="igAPIEndPoint.live" value="https://api.ig.com/gateway/deal" />

		<!--<add key="accountId.test" value="Z4WGV5" />-->
		<add key="accountId.test" value="Z4WGV5" />
		<add key="username.demo" value="merrimdapi" />
		<add key="password.demo" value="Saints01" />
		<add key="apikey.demo" value="fbb9da78817f4dbf7eddbbc951799f3686e955d4" />
		<add key="igAPIEndPoint.demo" value="https://demo-api.ig.com/gateway/deal" />

		<add key="DBName" value="igdata" />
		<add key="DBNameApp" value="igapp-test" />
		<add key="DBEndpointUri" value="https://ig-data.documents.azure.com:443/" />
		<add key="DBPrimaryKey" value="phLYzuoatjzMSiAKUNlPxy7HwfFMSYeHcTEWNvDSidYCtPJDXWVJx4GgD1SQptYOq9uupUPe2B1kACDbeHNdAg==" />
		<add key="DBEndpointUri-IX.D.NASDAQ.CASH.IP" value="https://ig-data.documents.azure.com:443/" />
		<add key="DBPrimaryKey-IX.D.NASDAQ.CASH.IP" value="phLYzuoatjzMSiAKUNlPxy7HwfFMSYeHcTEWNvDSidYCtPJDXWVJx4GgD1SQptYOq9uupUPe2B1kACDbeHNdAg==" />
		<add key="DBEndpointUri-IX.D.NIKKEI.DAILY.IP" value="https://ig-data-nikkei.documents.azure.com:443/" />
		<add key="DBPrimaryKey-IX.D.NIKKEI.DAILY.IP" value="jlzW8nPpqcGjYVaTSchtLKLPPwMebKfCHMZ7zu9rXzdPWOHicZuOy3SbvazSJqySAOO4Dl6LaXGsACDbUZm8yw==" />
		<add key="DBEndpointUri-IX.D.DOW.DAILY.IP" value="https://ig-data-dow.documents.azure.com:443/" />
		<add key="DBPrimaryKey-IX.D.DOW.DAILY.IP" value="paEgYkeiohgbLFF4NVIjGiLPPMHcNshlpO7b5ZarJ9ULxkZ5PkT0C8PG1qLAYh1TPps8OffMvDq8ACDb0dwSpg==" />
		<add key="DBEndpointUri-IX.D.DAX.DAILY.IP" value="https://ig-data-dax.documents.azure.com:443/" />
		<add key="DBPrimaryKey-IX.D.DAX.DAILY.IP" value="egOgo9iT9ReVTUMonkLOsbJdfvTTugsZRzkhwpLMOszs0h1HbNMT0m0JZDkicuCFcOfeJnfZYTJqACDbi6frAQ==" />
		<add key="DBEndpointUri-IX.D.SPTRD.DAILY.IP" value="https://ig-data-us500.documents.azure.com:443/" />
		<add key="DBPrimaryKey-IX.D.SPTRD.DAILY.IP" value="iyhple7uSZhPQAqICufEwAe7V2anjTOfk85lh6xGYhwoGocDcffq382s1TAxTwxkhqYJQrLcCNpmACDb9nBZZQ==" />
		<add key="MessagingEndPoint" value="https://igmessaging-test.azurewebsites.net/Api"/>
		
	</appSettings>

</configuration>