<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<!-- environment = demo|live -->
		<add key="environment" value="demo" />
		<add key="region" value="test"/>
		<add key="accountId.live" value="" />
		<add key="username.live" value="" />
		<add key="password.live" value="" />
		<add key="apikey.live" value="" />
		<add key="igAPIEndPoint.live" value="https://api.ig.com/gateway/deal" />

		<!--<add key="accountId.test" value="" />-->
		<add key="accountId.demo" value="" />
		<add key="username.demo" value="" />
		<add key="password.demo" value="" />
		<add key="apikey.demo" value="" />

		<add key="accountId2.demo" value="" />
		<add key="username2.demo" value="" />
		<add key="password2.demo" value="" />
		<add key="apikey2.demo" value="" />
		
		<add key="igAPIEndPoint.demo" value="https://demo-api.ig.com/gateway/deal" />

		<add key="BlobConnectionString" value="" />
		<!--<add key="epics" value="IX.D.NASDAQ.CASH.IP|GRID|SECOND,IX.D.DAX.DAILY.IP|GRID|SECOND,CS.D.USCGC.TODAY.IP|GRID|SECOND,CC.D.LCO.USS.IP|GRID|SECOND"/>-->
		<add key="epics" value="IX.D.NASDAQ.CASH.IP|GRID|SECOND"/>

		<!-- <<add key="epics" value="CS.D.USCSI.TODAY.IP|GRID|SECOND"/>--> 
		<add key="DBName" value="" />
		<add key="DBNameApp" value="" />
		<add key="DBEndpointUri" value="" />
		<add key="DBPrimaryKey" value="==" />
		<add key="MessagingEndPoint" value="https://igmessaging-test.azurewebsites.net/Api"/>
		
	</appSettings>
 

	
</configuration>
