<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<!-- environment = demo|live -->
		<add key="environment" value="demo" />
		<add key="region" value="test"/>
		<add key="accountId.live" value="WWQT4" />
		<add key="username.live" value="TBM700C2" />
		<add key="password.live" value="8Ai7O!2m9Zc1W-3b" />
		<add key="apikey.live" value="667cf341dfb290d46371c8f1c800894e1b674bf9" />
		<add key="igAPIEndPoint.live" value="https://api.ig.com/gateway/deal" />

		<!--<add key="accountId.test" value="Z4WGV5" />-->
		<add key="accountId.demo" value="Z4WGV5" />
		<add key="username.demo" value="merrimdapi" />
		<add key="password.demo" value="Saints01" />
		<add key="apikey.demo" value="fbb9da78817f4dbf7eddbbc951799f3686e955d4" />

		<add key="accountId2.demo" value="Z5BGE9" />
		<add key="username2.demo" value="PaulaPink" />
		<add key="password2.demo" value="LcAxPVA3aR6fcP5" />
		<add key="apikey2.demo" value="1a225fad80a5a1b8f80aa5c2bc23a5f4a37d8555" />
		
		<add key="igAPIEndPoint.demo" value="https://demo-api.ig.com/gateway/deal" />

		<add key="BlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mikewardig;AccountKey=RwdizLFFqzdH7VkjssHQtlXyyPc/WitD5lWPl67XEqvObt1wFSFI6amn2mc/DPmMTXeoIkMxoRPo+ASts6Rm/Q==;EndpointSuffix=core.windows.net" />
		<!--<add key="epics" value="IX.D.NASDAQ.CASH.IP|SMA2,IX.D.NIKKEI.DAILY.IP|SMA2,IX.D.NASDAQ.CASH.IP|SMA,IX.D.NIKKEI.DAILY.IP|SMA"/>-->
		 <!--<add key="epics" value="SB.D.EPAMUS.DAILY.IP|CASEYC|HOUR,SB.D.EPAMUS.DAILY.IP|CASEYC|HOUR_2,SB.D.EPAMUS.DAILY.IP|CASEYC|HOUR_3,SB.D.EPAMUS.DAILY.IP|CASEYC|HOUR_4"/>-->
		<!--<add key="epics" value="IX.D.RUSSELL.DAILY.IP|CASEYC|HOUR,IX.D.RUSSELL.DAILY.IP|CASEYC|HOUR_2,IX.D.RUSSELL.DAILY.IP|CASEYC|HOUR_3,IX.D.RUSSELL.DAILY.IP|CASEYC|HOUR_4"/>-->
		<!--<add key="epics" value="IX.D.DAX.DAILY.IP|REI|HOUR,IX.D.DAX.DAILY.IP|REI|HOUR_2,IX.D.DAX.DAILY.IP|REI|HOUR_3,IX.D.DAX.DAILY.IP|REI|HOUR_4
			 ,IX.D.CAC.DAILY.IP|REI|HOUR,IX.D.CAC.DAILY.IP|REI|HOUR_2,IX.D.CAC.DAILY.IP|REI|HOUR_3,IX.D.CAC.DAILY.IP|REI|HOUR_4
			 ,IX.D.SPTRD.DAILY.IP|REI|HOUR,IX.D.SPTRD.DAILY.IP|REI|HOUR_2,IX.D.SPTRD.DAILY.IP|REI|HOUR_3,IX.D.SPTRD.DAILY.IP|REI|HOUR_4"/>     ,IX.D.NASDAQ.CASH.IP|SMA|HOUR-->
	   <add key="epics" value="IX.D.NASDAQ.CASH.IP|GRID|SECOND,IX.D.DAX.DAILY.IP|GRID|SECOND,IX.D.DOW.DAILY.IP|GRID|SECOND,IX.D.FTSE.DAILY.IP|GRID|SECOND,IX.D.NIKKEI.DAILY.IP|GRID|SECOND,CC.D.CL.USS.IP|GRID|SECOND,CS.D.USCGC.TODAY.IP|GRID|SECOND,CS.D.USDJPY.TODAY.IP|GRID|SECOND,IX.D.RUSSELL.DAILY.IP|GRID|SECOND,CS.D.USCSI.TODAY.IP|GRID|SECOND,CC.D.LCO.USS.IP|GRID|SECOND,IX.D.HSCHIN.DFB.IP|GRID|SECOND"/>  
		
		<!--<add key="epics" value="IX.D.NASDAQ.CASH.IP|GRID|SECOND,IX.D.DAX.DAILY.IP|GRID|SECOND"/>  -->
		<add key="DBName" value="igdata" />
		<add key="DBNameApp" value="igapp-test" />
		<add key="DBEndpointUri" value="https://ig-data.documents.azure.com:443/" />
		<add key="DBPrimaryKey" value="phLYzuoatjzMSiAKUNlPxy7HwfFMSYeHcTEWNvDSidYCtPJDXWVJx4GgD1SQptYOq9uupUPe2B1kACDbeHNdAg==" />
		<add key="DBEndpointUri-IX.D.NASDAQ.CASH.IP" value="https://ig-data.documents.azure.com:443/" />
		<add key="DBPrimaryKey-IX.D.NASDAQ.CASH.IP" value="phLYzuoatjzMSiAKUNlPxy7HwfFMSYeHcTEWNvDSidYCtPJDXWVJx4GgD1SQptYOq9uupUPe2B1kACDbeHNdAg==" />
		<add key="DBEndpointUri-IX.D.NIKKEI.DAILY.IP" value="https://ig-data.documents.azure.com:443/" />
		<add key="DBPrimaryKey-IX.D.NIKKEI.DAILY.IP" value="phLYzuoatjzMSiAKUNlPxy7HwfFMSYeHcTEWNvDSidYCtPJDXWVJx4GgD1SQptYOq9uupUPe2B1kACDbeHNdAg==" />
		<add key="DBEndpointUri-IX.D.DOW.DAILY.IP" value="https://ig-data-dow.documents.azure.com:443/" />
		<add key="DBPrimaryKey-IX.D.DOW.DAILY.IP" value="paEgYkeiohgbLFF4NVIjGiLPPMHcNshlpO7b5ZarJ9ULxkZ5PkT0C8PG1qLAYh1TPps8OffMvDq8ACDb0dwSpg==" />
		<add key="DBEndpointUri-IX.D.DAX.DAILY.IP" value="https://ig-data-dax.documents.azure.com:443/" />
		<add key="DBPrimaryKey-IX.D.DAX.DAILY.IP" value="egOgo9iT9ReVTUMonkLOsbJdfvTTugsZRzkhwpLMOszs0h1HbNMT0m0JZDkicuCFcOfeJnfZYTJqACDbi6frAQ==" />
		<add key="DBEndpointUri-IX.D.SPTRD.DAILY.IP" value="https://ig-data-us500.documents.azure.com:443/" />
		<add key="DBPrimaryKey-IX.D.SPTRD.DAILY.IP" value="iyhple7uSZhPQAqICufEwAe7V2anjTOfk85lh6xGYhwoGocDcffq382s1TAxTwxkhqYJQrLcCNpmACDb9nBZZQ==" />
		<add key="DBEndpointUri-IX.D.CAC.DAILY.IP" value="https://ig-data-cac.documents.azure.com:443/" />
		<add key="DBPrimaryKey-IX.D.CAC.DAILY.IP" value="1YLdzAAslb4QVhEYYLcYDZB3MfFzHKZtfgWwVSu8eYwHKyeIL7UZBFXPf3smpBbBL9fQimEF1khNACDb6WBeCA==" />
		<add key="DBEndpointUri-IX.D.FTSE.DAILY.IP" value="https://ig-data-ftse.documents.azure.com:443/" />
		<add key="DBPrimaryKey-IX.D.FTSE.DAILY.IP" value="ZulzzJFQHYXOEFEsZFFGdYqf4F1D743CfxKd93ETvzAbzri6zX0WeugUxbhO1ltq0FlN6BBfOofWACDbCkYtfQ==" />
		<add key="MessagingEndPoint" value="https://igmessaging-test.azurewebsites.net/Api"/>
		
	</appSettings>
 

	
</configuration>