on: [push]
name: Linux_Container_Workflow

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        # checkout the repo
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@main
          
        - name: 'Login via Azure CLI'
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
        
        - name: 'Build and push image'
          uses: azure/docker-login@v1
          with:
            login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
            username: ${{ secrets.REGISTRY_USERNAME }}
            password: ${{ secrets.REGISTRY_PASSWORD }}
        - run: |
            docker build . -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/tradingbrain-grid-test:${{ github.run_number }}
            docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/tradingbrain-grid-test:${{ github.run_number }}

        - name: 'Update Container App with new revision'
          run: |
            az containerapp update \
              --name tradingbrain-grid-test \
              --resource-group ${{ secrets.RESOURCE_GROUP }} \
              --image ${{ secrets.REGISTRY_LOGIN_SERVER }}/tradingbrain-grid-test:${{ github.run_number }} \
              --revision-suffix run-${{ github.run_number }}
